h1 {
    display: flex;
    font-size: 50px;
    font-family: sans-serif;
}

a {
    color:rgb(212, 218, 224);
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: darkslategray;
}

.item1 {
    grid-area: header;
    color:rgb(212, 218, 224);
    text-align: center;
}

.item2 {
    grid-area: menu;
    color:rgb(144, 189, 234);
}

.item3 {
    grid-area: main;
    color:rgb(212, 218, 224);
}

.item4 {
    grid-area: right;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item5 {
    grid-area: footer;
    color:rgb(144, 189, 234);
}